<form
  class="lg:w-[60%] flex flex-col gap-2.5 bg-gray-50 px-3 py-5 shadow-sm rounded-md max-w-3xl"
  (ngSubmit)="emitCharacter()"
>
  <div>
    <label for="name" class="block">Nombre</label>
    <input
      type="text"
      [(ngModel)]="character.name"
      id="name"
      name="name"
      placeholder="Name"
      class="w-[55%] border-2 border-gray-500 rounded-sm p-1.5 outline-0"
    />
  </div>
  <div>
    <label for="power" class="block">Poder</label>
    <input
      type="number"
      [(ngModel)]="character.power"
      id="power"
      name="power"
      placeholder="Power"
      class="w-[55%] border-2 border-gray-500 rounded-sm p-1.5 outline-0"
    />
  </div>
  <!-- <pre>{{ character | json }}</pre> -->
  <button
    type="submit"
    class="lg:w-[40%] lg:mx-auto bg-blue-900 text-white p-3 mt-2.5 rounded-md hover:bg-blue-800 hover:cursor-pointer"
  >
    Agregar
  </button>
</form>
