<h3>Heroes list</h3>
<button
  class="bg-red-950 rounded-md text-white p-2 hover:transition hover:bg-red-700 hover:cursor-pointer"
  (click)="deleteLastHero()"
  *ngIf="heroNames.length > 0"
>
  Delete last hero
</button>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>
    Hero deleted
    <small class="underline text-red-800 font-bold">{{ deletedHero }}</small>
  </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3 class="text-red-800 font-bold">Nothing has been deleted</h3>
</ng-template>

<ul class="mt-2">
  <li *ngFor="let name of heroNames">{{ name }}</li>
</ul>
